---
- name: Ensure databases exists
  community.mysql.mysql_db:
    config_file: "/root/.my.cnf"
    name: "{{ item.name }}"
    state: present
  loop: "{{ mysql_databases }}"
  loop_control:
    label: "{{ item.name }}"

- name: Ensure databases that should be removed are absent
  community.mysql.mysql_db:
    config_file: "/root/.my.cnf"
    name: "{{ item }}"
    state: absent
  loop: "{{ mysql_remove_databases }}"
  loop_control:
    label: "{{ item.name }}"

- name: Ensure users exists
  community.mysql.mysql_user:
    config_file: "/root/.my.cnf"
    host: "{{ item.host | d(omit) }}"
    name: "{{ item.name }}"
    password: "{{ item.password | d(omit) }}"
    plugin_auth_string: "{{ item.plugin_auth_string | d(omit) }}"
    plugin_hash_string: "{{ item.plugin_hash_string | d(omit) }}"
    plugin: "{{ item.plugin | d(mysql_users_default_authentication_plugin) }}"
    priv: "{{ item.priv }}"
    salt: "{{ item.salt | d(omit) }}"
  loop: "{{ mysql_users }}"
  loop_control:
    label: "{{ item.name }}"
  no_log: true

- name: Ensure users that should be removed are absent
  community.mysql.mysql_user:
    config_file: "/root/.my.cnf"
    host: "{{ item.host | d(omit) }}"
    name: "{{ item.name }}"
    password: "{{ item.password | d(omit) }}"
    plugin_auth_string: "{{ item.plugin_auth_string | d(omit) }}"
    plugin_hash_string: "{{ item.plugin_hash_string | d(omit) }}"
    plugin: "{{ item.plugin | d(omit) }}"
    state: absent
  loop: "{{ mysql_remove_users }}"
  loop_control:
    label: "{{ item.name }}"
  no_log: true
