# {{ ansible_managed }}

# Allow data dir access
{{ mysql_datadir }}/ r,
{{ mysql_datadir }}/** rwk,

# Allow log file access
{{ mysql_logdir }}/ r,
{{ mysql_logdir }}/** rw,

# Allow tmp file access
{{ mysql_tmpdir }}/ r,
{{ mysql_tmpdir }}/** rw,

# Allow MySQL access to the global manifest file
{{ mysql_installdir }}/mysqld.my r,

# Allow keyring dir access
{{ mysql_keyringdir }}/ r,
{{ mysql_keyringdir }}/** rwk,
